.Grid {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  width: 500px;
  height: 500px;
  border: 1px solid #ccc;
  margin: 0 auto;
  margin-top: 20px;
}

.Node {
  border: 1px solid #ccc;
}

.Node.Start {
  background-color: #43a047;
}

.Node.End {
  background-color: #f44336;
}

.Node.Wall {
  background-color: #607d8b;
}

.Node.Visited {
  background-color: #e00b0b;
}

.Node.Path {
  background-color: #ffeb3b;
}
