.Grid {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  width: 700px;
  height: 700px;
  border: 1px solid #ddd;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background: linear-gradient(0deg, #1f2026, #333);
}

.Node {
  border: 1px solid #ddd;
}

.Node.Start {
  background: linear-gradient(0deg, #1976d2, #333);
}

.Node.End {
  background: linear-gradient(0deg, #fbc02d, #333);
}

.Node.Wall {
  background-color: #b71c1c;
}

.Node.Visited {
  background: linear-gradient(135deg, #64dd17, #333);
}

.Node.Path {
  background: linear-gradient(0deg, #fbc02d, #e1fa00);
}
