@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

body,
html,
.App {
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: "Inter", sans-serif;
  background-color: #1f2026;
}
